# Arquivo .gitignore para micro_apps

# Ignore os diretórios de construção
**/build/
**/.dart_tool/

# Ignore arquivos de configuração pessoal
**/android/key.properties

# Ignore arquivos gerados pelo Dart
**/.dart_tool/
**/.packages

# Ignore arquivos específicos do Flutter
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/xcuserdata/

# Ignore arquivos específicos do Xcode
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.moved-aside
**/ios/*.pbxuser
**/ios/*.perspectivev3

# Ignore arquivos de Keystore
**/android/key.jks
**/android/keystore.properties

# Ignore os arquivos de build do pub
**/.pub-cache/

# Ignore diretórios de documentação
doc/api/

